body {
text-align:center;
  text-color:"white";
  text-font:futura;
  background :linear-gradient(#6200EA 0%, #76FF03 100%)

  
  
}

#asif
{
  height:400px;
  width:300px;
  border-radius:100%;
}
.image-section {
	  display: flex;
	  justify-content: center;
	}

	.section-style {
	  margin-right: 25px;
	  margin-left: 25px;
	  background-color: white;
	}
  .responsive {
  width: 100%;
  height: auto;
}
.container
{
    text-align: center;
}
